<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="userName" type="text" class="validate"
               [(ngModel)]="vote.userName" formControlName="userName"
               [class.invalid]="form.controls['userName'].touched && !form.controls['userName'].valid"
        >
        <label for="userName"
               [class.active]="vote.userName"
               data-error="Name is required and needs to contain at least 3 chars">
          User Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="password" type="text" class="validate"
               [(ngModel)]="vote.password" formControlName="password"
               [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid"
        >
        <label for="password"
               [class.active]="vote.password"
               data-error="Name is required and needs to contain at least 3 chars">
          Password
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="restaurantName" type="text" class="validate"
               [(ngModel)]="vote.restaurantName" formControlName="restaurantName"
               [class.invalid]="form.controls['restaurantName'].touched && !form.controls['restaurantName'].valid"
        >
        <label for="restaurantName"
               [class.active]="vote.restaurantName"
               data-error="Name is required and needs to contain at least 3 chars">
          Nome do Restaurante
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
